---
layout: default
title: 'Angular 4 boolean form values &amp; Phalcon - Discussion'
---

    <div class="container">
        {% include warning.html %}


<div itemscope itemtype="https://schema.org/Question"><ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/category/21/beginners">Beginners</a></li>
</ol>
<div class="row table-title">
    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 wrapper-author">
        <h1 class="" itemprop="name">Angular 4 boolean form values &amp; Phalcon</h1>
        <div class="visible-xs-block mobile-author">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="/user/9971/s-o-r-o-u-s-h" class="user-moderator-N"><span itemprop="name">Soroush Gholamzadeh</span></a></span>
            <time itemprop="dateCreated" datetime="2017-08-16T07:24:33-07:00">Aug '17</time>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6 hidden-xs text-right wrapper-stats">
        <table class="table-stats" width="100%">
            <tr style="vertical-align: top;">
                <td>
                    <label>Created</label><br>
                    <time itemprop="dateCreated" datetime="2017-08-16T07:24:33-07:00">Aug '17</time>
                </td>
                <td>
                    <label>Last Reply</label><br>Aug '17</td>
                <td>
                    <label>Replies</label><br>
                    <span itemprop="answerCount">1</span>
                </td>
                <td>
                    <label>Views</label><br>555</td>
                <td>
                    <label>Votes</label><br>
                    <span itemprop="upvoteCount">0</span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="discussion">
        <div class="row reply-block">
            <div class="col-md-1 col-sm-1 hidden-xs text-center">
                <img src="https://secure.gravatar.com/avatar/eee1f5688f237d9aff7edd7fa0f04128?s=48&amp;r=pg&amp;d=identicon" class="img-rounded avatar" /><br>
                <span itemprop="author" itemscope itemtype="https://schema.org/Person" class="avatar-name"><a href="/user/9971/s-o-r-o-u-s-h" class="user-moderator-N"><span itemprop="name">Soroush Gholamzadeh</span></a></span>
                <span class="karma">1.1k</span>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-12 post-body"><div class="posts-date hidden-xs" align="right">
        <a name="C16739" href="#C16739">
        <time class="action-date">Aug '17</time>
    </a>
</div>
<div class="post-content"><div><p>I use phalcon &amp; angular together. I have a form in angular:</p>
<pre><code class="language-html">&lt;!--rest of form--&gt;
&lt;label class="radio-inline" *ngFor="let m of marriageCtrl"&gt;
            &lt;input type="radio" formControlName="marriage" [value]="m.value"&gt;{% raw %}{{{% endraw %}m.label{% raw %}}}{% endraw %}
&lt;/label&gt;</code></pre>
<p>value is boolean: <strong>true/false</strong>.
When I submit it to form, I get values in phalcon:</p>
<pre><code class="language-php">public function SaveAction() 
{
    $formValues = $this-&gt;request-&gt;getJsonRawbody();
    $person = new Person();
    foreach($formValues as $key=&gt;$val)
    {
            $person-&gt;$key = $vale;

    }
    //Rest of Person model properties
    if($person-&gt;save() == true) {
        return ["message"=&gt;"Person saved Successfully!"];
    }else {
        $message = '';
        foreach($person-&gt;getMessages() as $msg) {
            $message = $message.$msg-&gt;getMessage() 
        }
        return ['message'=&gt;$message];
    }
}</code></pre>
<p>It is ok for other properties but for marriage which is boolean returns: </p>
<blockquote>
<p>marriage is required</p>
</blockquote>
<p>But if I <code>var_dump()</code> person object, It shows:</p>
<pre><code>["marriage"]=&gt;
  bool(true)</code></pre></div>                </div>

                <div class="posts-buttons text-right"><a href="#"  class="btn btn-danger btn-xs" data-cf-modified-21463cd8929342821c5e730e-="">
        <span class="glyphicon glyphicon-thumbs-down"></span></a>
    <a href="#"  class="btn btn-success btn-xs" data-cf-modified-21463cd8929342821c5e730e-="">
        <span class="glyphicon glyphicon-thumbs-up"></span></a></div>
            </div>
        </div><div itemprop="suggestedAnswer" itemscope itemtype="https://schema.org/Answer" class="reply-block row">
    <div class="col-md-1 small" align="center">
        <img src="https://secure.gravatar.com/avatar/660e8c9b157b0029b6e0ba24c0ea3eba?s=48&amp;r=pg&amp;d=identicon" class="img-rounded" />        <br>

        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <a href="/user/4363/lajosbencz" class="user-moderator-N"><span itemprop="name">Lajos Bencz</span></a>        </span>
        <br>

        <span class="karma">77.7k</span></div>
    <div class="col-md-11"><div class="posts-buttons" align="right"><a name="C50327" href="#C50327">
                <time itemprop="dateCreated" datetime="2017-08-16T07:42:31-07:00" class="action-date">Aug '17</time>
            </a>
        </div>
        <div class="post-content"><div itemprop="text"><p>What db backend are you using?</p></div></div>
        <div class="posts-buttons" align="right"><a href="#"  class="btn btn-danger btn-xs vote-login" data-id="50327" data-cf-modified-21463cd8929342821c5e730e-="">
                    <span class="glyphicon glyphicon-thumbs-down"></span></a>
                <a href="#"  class="btn btn-success btn-xs vote-login" data-id="50327" data-cf-modified-21463cd8929342821c5e730e-="">
                    <span class="glyphicon glyphicon-thumbs-up"></span></a></div>
    </div>
</div>
<div itemprop="suggestedAnswer" itemscope itemtype="https://schema.org/Answer" class="reply-block row">
    <div class="col-md-1 small" align="center">
        <img src="https://secure.gravatar.com/avatar/eee1f5688f237d9aff7edd7fa0f04128?s=48&amp;r=pg&amp;d=identicon" class="img-rounded" />        <br>

        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <a href="/user/9971/s-o-r-o-u-s-h" class="user-moderator-N"><span itemprop="name">Soroush Gholamzadeh</span></a>        </span>
        <br>

        <span class="karma">1.1k</span></div>
    <div class="col-md-11"><div class="posts-buttons" align="right"><a name="C50329" href="#C50329">
                <time itemprop="dateCreated" datetime="2017-08-16T07:44:54-07:00" class="action-date">Aug '17</time>
            </a>
        </div>
        <div class="post-content"><div itemprop="text"><p>Mysql and marriage column is tinyint(1)</p></div></div>
        <div class="posts-buttons" align="right"><a href="#"  class="btn btn-danger btn-xs vote-login" data-id="50329" data-cf-modified-21463cd8929342821c5e730e-="">
                    <span class="glyphicon glyphicon-thumbs-down"></span></a>
                <a href="#"  class="btn btn-success btn-xs vote-login" data-id="50329" data-cf-modified-21463cd8929342821c5e730e-="">
                    <span class="glyphicon glyphicon-thumbs-up"></span></a></div>
    </div>
</div>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="reply-block row reply-accepted">
    <div class="col-md-1 small" align="center">
        <img src="https://secure.gravatar.com/avatar/eee1f5688f237d9aff7edd7fa0f04128?s=48&amp;r=pg&amp;d=identicon" class="img-rounded" />        <br>

        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <a href="/user/9971/s-o-r-o-u-s-h" class="user-moderator-N"><span itemprop="name">Soroush Gholamzadeh</span></a>        </span>
        <br>

        <span class="karma">1.1k</span><div class="accepted-reply">
                <span class="glyphicon glyphicon-ok"></span>
                Accepted<br>answer
            </div></div>
    <div class="col-md-11"><div class="posts-buttons" align="right"><a name="C50333" href="#C50333">
                <time itemprop="dateCreated" datetime="2017-08-16T11:09:21-07:00" class="action-date">Aug '17</time>
            </a>
        </div>
        <div class="post-content"><div itemprop="text"><p>It seems converting <em>marriage</em> column from TINYINT(1) to BIT solved problem!</p></div></div>
        <div class="posts-buttons" align="right"><a href="#"  class="btn btn-danger btn-xs vote-login" data-id="50333" data-cf-modified-21463cd8929342821c5e730e-="">
                    <span class="glyphicon glyphicon-thumbs-down"></span></a>
                <a href="#"  class="btn btn-success btn-xs vote-login" data-id="50333" data-cf-modified-21463cd8929342821c5e730e-="">
                    <span class="glyphicon glyphicon-thumbs-up"></span><span itemprop="upvoteCount">1</span></a></div>
    </div>
</div>
<div class="row"><div class="col-md-1 small" align="center"></div>
        <div class="col-md-11 login-comment">
            
        </div></div>
</div><input type="hidden" id="post-id" name="post-id" value="16739" /><div id="suggested-posts"></div>
    <div id="sticky-progress" style='display:none'></div>
</div>
    </div>