{% if site.data.settings.google_analytics %}
    <!-- Google Analytics -->
    <script type="application/javascript">
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga("create", "UA-133802124-6", "auto");
            ga("send", "pageview", {
                "page": "https://forum.phalcon.io",
                "title": "{% if page.title != '' %}{{ page.title }} - {% endif %}{{ site.data.settings.name }}"
            });
    </script>
    <script async src='https://www.google-analytics.com/analytics.js' type="text/javascript"></script>
    <!-- End Google Analytics -->
{% endif %}
