        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="{% if page.title == 'Discussions' %}active{% endif %}">
                    <a href="/discussions/new">All discussions</a></li>
                <li class="{% if page.title == 'Hot Discussions' %}active{% endif %}">
                    <a href="/discussions/hot">Hot</a></li>
                <li class="{% if page.title == 'Unanswered Discussions' %}active{% endif %}">
                    <a href="/discussions/unanswered">Unanswered</a></li>
            </ul>
        </div>
