    <nav class="navbar navbar-fixed-top navbar-light bg-faded nav-top-menu"
         role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed"
                        data-target="#forum-navbar-collapse"
                        data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="Go to main page">Phalcon</a>
            </div>

            <div class="collapse navbar-collapse" id="forum-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/discussions" title="Discussions">
                            <span class="octicon octicon-comment-discussion">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/activity" title="Activity">
                            <span class="octicon octicon-eye"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false"
                           aria-haspopup="true"
                           class="dropdown-toggle categories-link"
                           data-toggle="dropdown"
                           href="#" id="dropdownCategories"
                           role="button"
                           title="Categories">
                            <span class="octicon octicon-list-unordered"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu categories-dropdown"
                            aria-labelledby="dropdownCategories">
                            <li>
                                <a href="/category/21/beginners">
                                    <span class="label label-default pull-right">1733</span>Beginners
                                </a>
                            </li>
                            <li>
                                <a href="/category/5/general">
                                    <span class="label label-default pull-right">1132</span>General</a>
                            </li>
                            <li>
                                <a href="/category/2/orm">
                                    <span class="label label-default pull-right">1093</span>ORM
                                </a>
                            </li>
                            <li>
                                <a href="/category/1/mvc">
                                    <span class="label label-default pull-right">982</span>MVC</a>
                            </li>
                            <li>
                                <a href="/category/29/database">
                                    <span class="label label-default pull-right">688</span>Database
                                </a>
                            </li>
                            <li>
                                <a href="/category/3/volt">
                                    <span class="label label-default pull-right">592</span>Volt
                                </a>
                            </li>
                            <li>
                                <a href="/category/6/installation">
                                    <span class="label label-default pull-right">528</span>Installation
                                </a>
                            </li>
                            <li>
                                <a href="/category/13/routing">
                                    <span class="label label-default pull-right">472</span>Routing
                                </a>
                            </li>
                            <li>
                                <a href="/category/12/developer-tools">
                                    <span class="label label-default pull-right">297</span>Developer Tools
                                </a>
                            </li>
                            <li>
                                <a href="/category/25/configuration">
                                    <span class="label label-default pull-right">210</span>Configuration
                                </a>
                            </li>
                            <li>
                                <a href="/category/8/cache">
                                    <span class="label label-default pull-right">207</span>Cache
                                </a>
                            </li>
                            <li>
                                <a href="/category/4/offtopic">
                                    <span class="label label-default pull-right">206</span>Offtopic
                                </a>
                            </li>
                            <li>
                                <a href="/category/16/security">
                                    <span class="label label-default pull-right">183</span>Security</a>
                            </li>
                            <li>
                                <a href="/category/22/micro">
                                    <span class="label label-default pull-right">179</span>Micro
                                </a>
                            </li>
                            <li>
                                <a href="/category/24/show-community">
                                    <span class="label label-default pull-right">168</span>Show to Community
                                </a>
                            </li>
                            <li>
                                <a href="/category/26/http-environment">
                                    <span class="label label-default pull-right">149</span>HTTP Environment
                                </a>
                            </li>
                            <li>
                                <a href="/category/23/odm">
                                    <span class="label label-default pull-right">144</span>ODM
                                </a>
                            </li>
                            <li>
                                <a href="/category/28/session">
                                    <span class="label label-default pull-right">142</span>Session
                                </a>
                            </li>
                            <li>
                                <a href="/category/10/di-ioc">
                                    <span class="label label-default pull-right">122</span>DI/IoC
                                </a>
                            </li>
                            <li>
                                <a href="/category/11/events-manager">
                                    <span class="label label-default pull-right">106</span>Events
                                </a>
                            </li>
                            <li>
                                <a href="/category/27/external-tools">
                                    <span class="label label-default pull-right">104</span>External Tools
                                </a>
                            </li>
                            <li><a href="/category/17/acl">
                                    <span class="label label-default pull-right">97</span>Acl
                            </a>
                            </li>
                            <li>
                                <a href="/category/20/internals">
                                    <span class="label label-default pull-right">93</span>Internals
                                </a>
                            </li>
                            <li>
                                <a href="/category/19/incubator">
                                    <span class="label label-default pull-right">81</span>Incubator
                                </a>
                            </li>
                            <li>
                                <a href="/category/15/news-announcements">
                                    <span class="label label-default pull-right">73</span>News/Announcements
                                </a>
                            </li>
                            <li>
                                <a href="/category/18/escaping-filtering">
                                    <span class="label label-default pull-right">64</span>Escaping/Filtering
                                </a>
                            </li>
                            <li>
                                <a href="/category/7/jobs">
                                    <span class="label label-default pull-right">63</span>Jobs
                                </a>
                            </li>
                            <li>
                                <a href="/category/9/paginator">
                                    <span class="label label-default pull-right">59</span>Paginator
                                </a>
                            </li>
                            <li>
                                <a href="/category/14/annotations">
                                    <span class="label label-default pull-right">50</span>Annotations
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/help" title="Help">
                            <span class="octicon octicon-info"></span>
                        </a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right navbar-login">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default"
                           href="https://phalcon.io/fund" target="_blank">
                            <span class="p-ico"></span>
                            Support Us
                        </a>
                    </div>
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </nav>
