            <div align="center" class="container">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        We are moving our forum in GitHub Discussions.
                        For questions about Phalcon v3/v4 you can visit
                        <a href="https://github.com/phalcon/cphalcon/discussions">here</a>
                        and for Phalcon v5
                        <a href="https://github.com/phalcon/phalcon/discussions">here</a>.
                    </div>
                </div>
            </div>
